{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<h2 class="d-inline-block mb-4 text-primary">Eventos y Capacitaciones</h2>
<div class="row mb-2">
  
  {% for objeto in objeto  %}
  
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary"><h3>{{ objeto.titulo}}</h3></strong>
        <h3 class="mb-0">{{ objeto.fecha}}</h3>
        <div class="mb-1 text-muted">{{ objeto.hora}}</div>
        <p class="card-text mb-auto">{{ objeto.enlace}}</p>
        <a  class="stretched-link">{{ objeto.inversion}}</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="{{ objeto.portada }}" class="card-img-bottom" width="250" height="350"> 
      </div>
    </div>
  </div>

</div>
{% endfor %}
{% endblock contenido %}