{% extends 'base.html' %}
{% load static %}

{% block contenido %}


<div class="mb-4"><h2 class="d-inline-block mb-4 text-primary">Eventos y Capacitaciones</h2></div>
  
<div class="row row-cols-1 row-cols-md-2 g-4">

  {% for capacitacion in capacitaciones  %}
  <div class="card mb-3" style="max-width: 740px;">
    <div class="row g-0">
      <div class="col-md-5">
        <img src={{capacitacion.portada.url }} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h3 class="card-title text-success">{{capacitacion.titulo}}</h3>
          <h5 class="card-text">Fecha: {{capacitacion.fecha}}</h5>
          <h5 class="mb-2">Hora: {{capacitacion.hora}}</h5>
          <h4 class="card-text mb-auto"> Inversión: {{capacitacion.inversión}}</h4>
          <h3 class="card-text mb-2"> Enlace de inscripción:</h3>
          <a href="" class="stretched-link">{{capacitacion.enlace}}</a>
        </div>
      </div>
    </div>
  </div>
  
  {% endfor %}

</div>

{% endblock contenido %}