{% extends 'base.html' %}
{% load static %}


{% if messages %}
            
{% for messages in messages  %}
<div class = " alert alert-success notification {{ messages.tags }}" role="alert">
  {{messages}}
</div>
{% endfor %}
  
{% endif %} 

{% block contenido %}


<div class="container col-sm-6">
<form method="post" >

    {% csrf_token %}
    {{ form }}


       <button type="submit" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Guardar</button>
  
     
  </form>
<script src="{% static 'js/jquery-input-mask-phone-number.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/jquery-ui-timepicker-addon' %}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
<script>
  $( function() {
      // $( "#id_birth_date" ).datetimepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off") ;
      // $( "#id_birth_date" ).timepicker({ dateFormat: 'yy-mm-dd', maxDate: 0, controlType: 'select'}).attr("autocomplete", "off") ;
      $( "#id_birth_date" ).datepicker({ dateFormat: 'yy-mm-dd' }).attr("autocomplete", "off") ;
  });
</script>    
</div>
{% endblock contenido %}
