{% extends 'base.html' %}
{% load static %}


{% if messages %}
            
{% for messages in messages  %}
<div class = " alert alert-success notification {{ messages.tags }}" role="alert">
  {{messages}}
</div>
{% endfor %}
  
{% endif %} 

{% block contenido %}


<div class="container col-sm-6">
<form method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}

        <div class="fieldWrapper">
            {{form.as_p}}
        </div>
        
       <button type="submit" value="Update" class="btn btn-primary d-grid gap-2 col-4 mx-auto">Guardar</button>

 
</div>

   
</div>
{% endblock contenido %}

  
