{% extends 'base.html' %}
{% load static %}

{% block contenido %}

{% for objeto in objeto %}
<div class="container col-md-10">
  <div class="card mb-3 ">
    <img src="{{ objeto.portada }}" class="card-img-bottom" width="250" height="350">
    
    <div class="card-body">
      <h5 class="card-title">{{ objeto.titulo }}</h5>
      <p class="card-text">{{ objeto.descripcion }}</p>
      <p class="card-text">{{ objeto.propietario }}</p>
      <p class="card-text">{{ objeto.contacto }}</p>
    </div>
  </div>

</div>
{% endfor %}

{% endblock contenido %}
  



