{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<h2 class="d-inline-block mb-4 text-primary">Emprendimientos</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    
    {% for emprendimiento in emprendimientos %}
      
    
      
    <div class="card">
      <img src={{emprendimiento.portada.url}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{emprendimiento.titulo}}</h5>
        <p class="card-text">{{emprendimiento.descripcion}}</p>
        <p class="card-text">{{emprendimiento.propietario}}</p>
        <p class="card-text">{{emprendimiento.contacto}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock contenido %}
  



