{% extends 'baseadmin.html' %}
{% load static %}


{% block title %}
    Administrador alumni
{% endblock title %}


{% block head %}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.0/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">
{% endblock head %}
  

{% block titulo %}
<div class="col-sm-6 mb-4">
    <h1 class="m-0">Estadistica</h1>
</div><!-- /.col -->
{% endblock titulo %}


{% block contenido %}

<section class="content">
  <div class="card">
    <div class="card-header"> 
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <h3 class="card-title">Registro de alumnos graduados</h3>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="graduado" class="display nowrap " style="width:100%">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Carrera</th>
                            <th>Corte</th>
                            <th>Titulación</th>
                            <th>Trabaja</th>
                            <th>Nombre Empresa</th>
                            <th>Tipo de Empresa</th>
                            <th>Cargo</th>
                            <th>Relación</th>
                            <th>Número de cursos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% if objeto %}
                      {% for objeto in objeto %}   
                      
                        <tr>
                            <td>{{ objeto.cedula }}</td>
                            <td>{{ objeto.nombre }}</td>
                            <td>{{ objeto.apellido }}</td>
                            <td>{{ objeto.carrera }}</td>
                            <td>{{ objeto.n_corte }}</td>
                            <td>{{ objeto.titulacion }}</td>
                            <td>{{ objeto.trabaja }}</td>
                            <td>{{ objeto.empresa }}</td>
                            <td>{{ objeto.tipo_empresa }}</td>
                            <td>{{ objeto.cargo }}</td>
                            <td>{{ objeto.relacion }}</td>
                            <td>{{ objeto.n_cursos }}</td>

                            

                            <td> <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                              <a class="btn btn-primary" href="{% url 'graduadoeditar' objeto.id %}" role="button">Editar</a>
                              <a class="btn btn-danger" href="{% url 'graduadoeliminar' objeto.id %}" role="button">Eliminar</a>
                              </div>
                            </td>
                        </tr>
                      
                      {% endfor %}
                      {% endif %}  
              
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Cedula</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Carrera</th>
                            <th>Carrera</th>
                            <th>Carrera</th>
                            <th>Carrera</th>
                            <th>Carrera</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
          </div>      
        </div>

      </div>
    </div>
  </div>
</section>    

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <!-- AREA CHART -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Género</h3>
          </div>
          <div class="card-body">
            <div id="genero"></div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- DONUT CHART -->
        <div class="card card-danger">
          <div class="card-header">
            <h3 class="card-title">Carrera</h3>

          </div>
          <div class="card-body">
                  <div id="carrera"></div>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Graduados que tienen empleo</h3>
          </div>
          <div class="card-body">
            <div id="trabaja"></div>
          </div>
          <!-- /.card-body -->
        </div>

      </div>
      <!-- /.col (LEFT) -->
      <div class="col-md-6">
        <!-- LINE CHART -->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Titulación</h3>
          </div>
          <div class="card-body" id="titulacion"></div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- BAR CHART -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Etnias</h3>
          </div>
          <div class="card-body">
            <div class="chart" id="etnias"> </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- BAR CHART -->
        <div class="card card-success">
          <div class="card-header">
            <h3 class="card-title">Cursos dictados por el ISTL</h3>
          </div>
          <div class="card-body">
            <div class="chart" id="cursos"> </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

      </div>


      <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
  
</section>


   <!-- Main content -->
   
  <!-- /.content -->
</div>

{% endblock contenido %}

{% block javascripts %}
{{ block.super }}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

   <!--tabla horizontal y vertical controlls -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

   <!--tabla boton descarga -->

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>


<!-- Script para tabla graduado con botoes de descarga -->
  <script>
    $(document).ready(function() {
      $('#graduado').DataTable({
          "language": {
              "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
          },
          dom: 'Bfrtip',
          buttons: [
          {extend: 'copyHtml5',
          title :'Reporte de alumnos graduados'},
          {extend:'pdfHtml5',
          title :'Reporte de alumnos graduados'},
          {extend:'excelHtml5',
          title :'Reporte de alumnos graduados'},
          ],
          "scrollY": 500,
          "scrollX": true

      });
   });
  </script>

<!-- Script para grafico pastel -->
<script type="application/javascript">
  var masculino = parseInt('{{ masculino }}');
  var femenino = parseInt('{{ femenino }}');
  Highcharts.chart('genero', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Estadisticas por género de graduados'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [
        {
          name: 'Masculino',
          y: masculino,
        }, {
          name: 'Femenino',
          y: femenino,
        }
      ]
    }]
  });
</script>
<!-- Script para grafico carreras -->
<script>
  var agroindustrias = parseInt('{{ agroindustrias }}');
  var contabilidad = parseInt('{{ contabilidad }}');
  var desarrolloinfantil = parseInt('{{ desarrolloinfantil }}');
  var procesamientoalimentos = parseInt('{{ procesamientoalimentos }}');
  var desarrollosoftware = parseInt('{{ desarrollosoftware}}');
  var mecanica = parseInt('{{ mecanica }}');
  var electricidad = parseInt('{{ electricidad }}');
  var seguridad = parseInt('{{ seguridad }}');
  Highcharts.chart('carrera', {
    chart: {
        type: 'variablepie'
    },
    title: {
        text: 'Estadisticas por carreras'
    },
    tooltip: {
        headerFormat: '',
        pointFormat: '<span style="color:{point.color}">\u25CF</span> <b> {point.name}</b><br/>' +
            'Graduados: <b>{point.y}</b><br/>' 
    },
    series: [{
        minPointSize: 10,
        innerSize: '20%',
        zMin: 0,
        name: 'countries',
        data: [{
            name: 'Agroindustrias',
            y: agroindustrias,
        }, {
            name: 'Contabilidad',
            y: contabilidad,
        }, {
            name: 'Desarrollo Infantil',
            y: desarrolloinfantil,
        }, {
            name: 'Procesamiento Alimentos',
            y: procesamientoalimentos,
        }, {
            name: 'Desarrollo Software',
            y: desarrollosoftware,
        }, {
            name: 'Mecanica',
            y: mecanica,
        }, {
            name: 'Electricidad',
            y: electricidad,
        },{
            name: 'Seguridad',
            y: seguridad,
        }]
    }]
});
</script>

<!-- Script para tabla de etnias -->
<script >
  var mestizo = parseInt('{{ mestizo}}');
  var afroecuatoriano = parseInt('{{ afroecuatoriano }}');
  var indigena = parseInt('{{ indigena }}');
  var blanco = parseInt('{{ blanco }}');
  var montubio = parseInt('{{ montubio}}');
  var amazonico = parseInt('{{ amazonico }}');
  Highcharts.chart('etnias', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Estadisticas por etnias de graduados'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: ' <b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [
        {
          name: 'Mestizo',
          y: mestizo,
        },{
          name: 'Afroamericano',
          y: afroecuatoriano,
        },{
          name: 'Indígena',
          y:indigena
        },{
          name:'Blanco',
          y:blanco
        },{
          name:'Montubio',
          y:montubio
        },{
          name:'Amazonico',
          y:amazonico
        },
      ]
    }]
  });
</script>

<!-- Script para grafico opciones de titulación -->
<script type="application/javascript">
  var tesis = parseInt('{{ tesis }}');
  var examen = parseInt('{{ examen }}');
  Highcharts.chart('titulacion', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Estadisticas por método de titulación de graduados'
    },
    tooltip: {
      pointFormat: ' Titulacion: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [
        {
          name: 'Tesis',
          y: tesis,
        }, {
          name: 'Examen Complexivo',
          y: examen,
        }
      ]
    }]
  });
</script>

<!-- Script para grafico numero cursos tomados -->
<script >
  var Ninguno = parseInt('{{ Ninguno}}');
  var opc1 = parseInt('{{ opc1 }}');
  var opc2 = parseInt('{{ opc2 }}');
  var opc3 = parseInt('{{ opc3 }}');
  var opc4 = parseInt('{{ opc4 }}');
 
  Highcharts.chart('cursos', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Estadisticas por número de cursos tomados'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: ' <b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [
        {
          name: 'Niguno',
          y: Ninguno,
        },{
          name: '1-3',
          y: opc1,
        },{
          name: '4-6',
          y:opc2
        },{
          name:'7-9',
          y:opc3
        },{
          name:'10 o más',
          y:opc4
        },
      ]
    }]
  });
</script>
<!-- Script para grafico trabaja -->
<script type="application/javascript">
  var si = parseInt('{{ si }}');
  var no = parseInt('{{ no }}');
  Highcharts.chart('trabaja', {
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false,
      type: 'pie'
    },
    title: {
      text: 'Estadisticas por graduados que trabajan'
    },
    tooltip: {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
      point: {
        valueSuffix: '%'
      }
    },
    plotOptions: {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
        }
      }
    },
    series: [{
      name: 'Brands',
      colorByPoint: true,
      data: [
        {
          name: 'Sí',
          y: si,
        }, {
          name: 'No',
          y: no,
        }
      ]
    }]
  });
</script>

{% endblock javascripts %}