{% extends 'baseadmin.html' %}
{% load static %}


{% block title %}
    Administrador alumni
{% endblock title %}

{% block titulo %}
<div class="col-sm-6">
    <h1 class="m-0">Eventos y Capacitaciones/h1>
  </div><!-- /.col -->
{% endblock titulo %}

{% block contenido %}
<form class="user" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
        </div>
       <div class="form-group col-md-9">
        <h6><label for="inputAddress" class="form-label mb-2">Titulo</label></h6>
        <input type="text" class="form-control" name="username">    
       </div>
       <div class="form-group col-md-9">
        <h6><label for="inputAddress" class="form-label mb-2">Duración</label></h6>
        <input type="password" class="form-control form-control-user" placeholder="Contraseña" name="password">
       </div>
       <div class="col-md-9 mb-4">
        <h6><label for="inputAddress" class="form-label mb-2">Modalidad</label></h6>
          <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Nombres">
        </div>
        <div class="col-md-9 mb-4">
            <h6><label for="inputAddress" class="form-label mb-2">Hora</label></h6>
              <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Nombres">
            </div>
        <div class="col-md-9 mb-4">
            <h6><label for="inputAddress" class="form-label mb-2">Inversión</label></h6>
              <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Nombres">
        </div>
        <div class="col-md-9 mb-4">
            <h6><label for="inputAddress" class="form-label mb-2">Contactos</label></h6>
              <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Nombres">
            </div>
        
      </div>
       <a class="btn btn-primary" href="{% url 'indexadmin' %}" role="button">Guardar</a>
     
  </form>

{% endblock titulo %}