<div class="col-md-7 mb-4">
    <h5><label for="inputAddress" class="form-label mb-2">Cédula</label></h5>
      <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Cédula">
    </div>
    <div class="col-md-7 mb-4">
    <h5><label for="inputAddress" class="form-label mb-2">Nombres Completos</label></h5>
      <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Nombres">
    </div>
    <div class="col-md-7 mb-4">
    <h5><label for="inputAddress" class="form-label mb-2">Apellidos Completos</label></h5>
      <input type="text" class="form-control mb-2" placeholder="Apellidos" aria-label="Apellidos">
    </div>  
    <div class="col-12">
    <h5><label for="inputAddress" class="form-label mb-2">Dirección</label></h5>
    <input type="text" class="form-control col-md-7 mb-4" id="inputAddress" placeholder="Dirección">
    <h5><label for="inputAddress" class="form-label mb-2">Número de teléfono</label></h5>
    <input type="text" class="form-control col-md-7 mb-4" id="inputAddress" placeholder="Celular">
    </div>
    <div class="col-sm-3">
    <h5><label for="inputAddress" class="form-label mb-2">Correo Electrónico</label></h5>
      <label class="visually-hidden mb-2" for="specificSizeInputGroupUsername"></label>
      <div class="input-group">
        <input type="text" class="form-control mb-4" id="specificSizeInputGroupUsername" placeholder="Usuario">
        <div class="input-group-text mb-4">@</div>
        <input type="text" class="form-control mb-4" id="specificSizeInputGroupUsername" placeholder="Correo">
      </div>
    </div> 
    <h5><label for="start"  mb-2>Start date:</label></h5>
    
    <input type="date" id="start" name="trip-start"
    value="2018-07-22"
    min="1990-01-01" class="mb-4" mb-2>
    <div class="col-md-7 mb-4">
    <h5><label for="inputAddress" class="form-label mb-2">Nacionalidad</label></h5>
      <input type="text" class="form-control mb-2" placeholder="Nombres" aria-label="Nacionalidad">
    </div>
    <h5><label for="inputAddress" class="form-label mb-2">Etnia</label></h5>
    <select class="form-select mb-4" aria-label="Default select example">
        <option selected>Eliga la etnia a la que pertenece</option>
        <option value="1">Mestizo</option>
        <option value="2">Afroecuatoriano</option>
        <option value="3">Indígena</option>
        <option value="3">Blanco</option>
        <option value="3">Montubio</option>
        <option value="3">Amazonico</option>
        <option value="3">Otro</option>
    </select>
    <div class="form-check">
      <h5><label for="inputAddress" class="form-label mb-2">Género</label></h5>
        <input class="form-check-input mb-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
        <label class="form-check-label mb-2" for="flexRadioDefault1"> Femenino </label>
    </div>  
      <div class="form-check">
        <input class="form-check-input mb-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
        <label class="form-check-label mb-2" for="flexRadioDefault2"> Masculino </label>
      </div>      
      <div class="form-check">
        <input class="form-check-input mb-2" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
        <label class="form-check-label mb-4" for="flexRadioDefault3"> Otro </label>
      </div>   
    </div>
    <h5><label for="inputAddress" class="form-label mb-2">Estado Civil</label></h5>
    <select class="form-select mb-4" aria-label="Default select example">
        <option selected>Estado Civil</option>
        <option value="1">Soltero/a</option>
        <option value="2">Unión de hechos</option>
        <option value="3">Csado/a</option>
        <option value="3">Divorciado/a</option>
        <option value="3">Viudo/a</option>
    </select>
    <h5><label for="inputAddress" class="form-label mb-2">¿Posee algún tipo de discapacidad?</label></h5>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Si
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        No
      </label>
    </div>
    <h5><label for="inputAddress" class="form-label mb-2">Tecnología en la que se gradúo</label></h5>
    <select class="form-select mb-4" aria-label="Default select example">
        <option selected>Seleccione su tecnología</option>
        <option value="1">Tecnología Superior en Agroindustrias</option>
        <option value="2">Tecnología Superior en Contabilidad</option>
        <option value="3">Tecnología Superior en Desarrollo Infantil</option>
        <option value="4">Tecnología Superior en Procesamiento de Alimentos</option>
        <option value="5">Tecnología Superior en Desarrollo de Software</option>
        <option value="6">Tecnología Superior en Mecánica Automotriz</option>
        <option value="7">Tecnología Superior en Electricidad</option>
        <option value="8">Tecnología Superior en Seguridad Ciudadana y Orden Público</option>
    </select>
    <h5><label for="inputAddress" class="form-label mb-2">Modalidad de titulación</label></h5>
    <select class="form-select mb-4" aria-label="Default select example">
        <option selected>Seleccione </option>
        <option value="1">Proyecto de titulación</option>
        <option value="2">Exámen Complexivo</option>
    </select>
    <div class="col-md-7 mb-4">
      <h5><label for="inputAddress" class="form-label mb-2">Número de Promoción</label></h5>
      <input type="text" class="form-control mb-2" placeholder="Número de Promoción" >
    </div>  
    <div class="col-md-7 mb-4">
      <h5><label for="inputAddress" class="form-label mb-2">Período de Graduación</label></h5>
      <input type="text" class="form-control mb-2" placeholder="Período de Graduación" >
    </div>  
    <h5><label for="inputAddress" class="form-label mb-2">Acta de grado</label></h5>
    <input class="form-control mb-4" type="file" id="formFile">
 
  
